body { margin:0px; font-family: Arial, Helvetica, Tahoma; font-size: 12px; color:#000000; line-height:15px; text-decoration:none;text-align:left;align:center;}
.smalltxt { font-size:12px;}
.errortxt { font-size:12px;}
.alerttxt { font-size:12px;font-weight:bold;}
.normtxt { font-size:13px;}
.normtxt1 { font-size:14px;}
.opttxt { font-size:11px;}
.address{float: middle; font-size: 12px; line-height:13px;padding-top:10px;}