body { background: #fff; margin:0px; font-family: Arial, Helvetica, Tahoma; font-size: 12px; color:#555555; line-height:15px; text-decoration:none;text-align:left;align:center;}
#maincontainer {padding-left:3px;padding-right:3px;}
#container {width:772px;margin:0px 0px 0px 0px;}
form{margin:0px;padding:0px;}

.topbgclr{background:#4A8C16;}
.hgt33{height:33px !important;height:33px;}
.wdth103{width:103px;}
.pdt8{padding-top:8px;}

.menu a{font:bold 15px "Arial",Helvetica,Tahoma; color:#fff; padding:18px 10px; display:block; float:left;height:17px;}
.menu a:hover{background:#F26A26;}


.menu .active{position:relative;background:#F26A26;cursor:default;}
.menu .hover{position:absolute;left:43%;bottom:-7px;}


.hombutton{ background: #1D6F01;padding:0px 4px 0px 4px !important;padding:1px 5px 0px 5px;border:1px solid #2A770F;color: #FFFFFF; font: bold 16px arial, helvetica, sans-serif; overflow: visible; vertical-align: middle;cursor:pointer;}
.button{ background: #1D6F01;padding:0px 4px 0px 4px !important;padding:1px 5px 0px 5px;border:1px solid #2A770F;color: #FFFFFF; font: bold 12px arial, helvetica, sans-serif; overflow: visible; vertical-align: middle;cursor:pointer;}

/* div styles */
.fleft{float:left;}
.fright{float:right;}
.cleard{clear:both;}
.brdr{border:1px solid #dbdbdb;}
.footdiv, .footdiv2{width: 770px;}
.footdiv1{padding-top: 7px; padding-bottom: 5px;}
.hpdescdiv{width:550px;float:left}
.hpdescdiv1{width:200px;float:right;}
.hpsuccdiv{width:200px;}
.hpsepdiv{width:40px;}
.hpimgdiv{width:70px;}
.hpsuccdiv1{width:280px;}

.footdiv, .footdiv1, .footdiv2{text-align: center;}
.linesep {height:1px;background-color:#cbcbcb;}
.dotsep {background:url(http://img.communitymatrimony.com/images/dotbg2.gif) repeat-x;}

.disblk{display:block;}
.disnon{display:none;}

/* padding styles */
.padt10{padding-top:10px;}
.padb7{padding-bottom:7px;}
.padt5{padding-top:5px;}
.padtb10{padding:10px 0px 10px 0px;}
.padr20{padding-right:20px;}
.padr40{padding-right:40px;}
.padlr5{padding:0px 5px;}

/* color styles */ 
.clr{color:#000000;} /* text color */
.clr1{color:#006DC1;} /* link color */
.clr2{color:#ababab;} 
.clr3{color:#FF6000;} 
.clrw{color:#FFFFFF;}
.clrw1{color:#FFFFFF;font-family:Arial;font-size:11px;}
 .paddt10{padding:10px 0 0;}
 .loginput{width:95px;font:11px "Arial",Helvetica,Tahoma; color:#000;}
 .paddr10{padding:0 10px 0 0;}
 .font11{font-size:11px;}
 .paddt5{padding-top:5px;}
/* line height styles */
.lh13 {line-height:13px;}
.lh16 {line-height:16px;}
.lh20 {line-height:20px;}

/* text styles */
.smalltxt { font-size:11px;}
.normtxt { font-size:12px;}
.normtxt1 { font-size:13px;}
.headtxt { font-size:13px;font-family:Georgia;color:#397F00;}
.opttxt { font-size:10px;color:#ababab;}
a.disptxt1, a.disptxt2, a.disptxt3, a.disptxt4{font-family: Times new roman;}
a.disptxt3, a.disptxt4{color:#858585;}
a.disptxt1{font-size:15px;color:#a1a1a1;}
a.disptxt2{font-size:18px;color:#909090;}
a.disptxt3{font-size:20px;}
a.disptxt4{font-size:23px;}

a.disptxt1:hover, a.disptxt2:hover, a.disptxt3:hover, a.disptxt4:hover {color:#0B89D9;}
.bld{font-weight:bold;}

a{text-decoration:none;outline:none;}
a{cursor:pointer;}

img { border: 0px;}
.pntr{cursor:pointer;}

.tlright{text-align:right;}
.tlleft{text-align:left;}
.tljust{text-align:justify;}

.inputtext, .inputtexthome {font-size:11px;font-weight:normal;}
.homeselect {width:300px;height:24px;font-size:15px;font-weight:bold;}

.inputtext, .homeselect{padding-left:2px;border:1px solid #B3B3B3;font-family:arial, tahoma, verdana;color:#333;}
.inputtexthome{padding-left:2px;border:1px solid #A0E06D;font-family:arial, tahoma, verdana;color:#fff;background-color:#70C118;}

.hpmidmaindiv{background-color:#e52028;}
.hpmidmatridiv{padding-top:20px;text-align:center;font-family: Georgia, Verdana, Tahoma, Arial, Helvetica;font-weight:normal;color:#FFF;line-height:20px;}

.hpmidmatrifrmdiv{}

.hpsitesdiv {width:246px;line-height:18px;}
.hpsitesdiv1 {width:16px;background:url('http://img.communitymatrimony.com/images/home-versep.gif') repeat-y;}
a.rclr {color:#000000;}
a.rclr:hover{color:#0B89D9;}

.hplink1{width:168px;}
.hplink2{width:178px;}
.hplink3{width:208px;}

.hplink1, .hplink2, .hplink3 {background-color:#f2f2f2;height:22px;padding-top:3px;}

.relposition { position:relative;}
.abspositionmid { position:absolute;margin-left:504px !important;margin-left:119px;top:-185px; }
.hpmidmaindiv { width:278px;height:145px;}
.hpmidmatridiv {width:260px;font-size:18px;}
.hpmidmatrifrmdiv {width:276px;height:140px;}
.hpmidmatrifrmw { width:260px; }
.hpmidmatrifrmwpad { padding:20px 20px 0px 25px; }
.hpqs { font-family: Arial, Georgia, Verdana, Tahoma, Helvetica;font-size:22px;font-weight:bold;color:#1C6E02;line-height:20px; }

.form-field * { vertical-align: middle; }
.hpmidmatrifrmlabel1 { padding:1px 0px 0px 25px; }
.hpmidmatrifrmlabel {padding:10px 0px 0px 4px;} 
.hpqspad { padding:0px 0px 7px 4px; }
.margt1 { margin-top:1px; }
.margt5 { margin-top:5px; }
.hpagetxtbox { width:20px !important;width:25px; }
.hpsel {border:1px solid #B3B3B3;font-family:arial, tahoma, verdana;font-size:11px;color:#333;font-weight:normal;width:200px;}

#headPan{width:778px; position:relative; margin:0 auto;}
#headPan ul{width:608px; height:20px; margin:0 auto; list-style: none; line-height: normal;}
#headPan li{float:left;}
#headPan a{padding:0 10px 0; color:#2F5958; background:#FFF; text-decoration:none; font-size:13px; border-right:1px solid #FF0000;vertical-align:middle;}
#headPan .last a{padding:0 10px 0; color:#2F5958; background:#FFF; text-decoration:none; font-size:13px; border-right:0px solid #FF0000;vertical-align:middle;}
/* #headPan ul li a:hover{text-decoration:underline;} */

.lognborder {border:solid 1px #c4c4c4;}
.lognborder2 {border-bottom:solid 1px #c4c4c4;}
.lognbordercls {border:solid 1px #FFFFFF; border-bottom:0px;}

.logintophdr { padding:5px 5px 5px 101px; }
.pad5 { padding:5px; }
.padl70 { padding-left:70px; }
.loginmid {margin-top:20px; padding:0px 15px 0px 15px; overflow:hidden; display:none; }
.loginfrmbg {background:url(http://img.communitymatrimony.com/images/form-bg-tile.gif);width:194px;position:absolute;overflow:hidden;background-color:#FFF;display:none;z-index:1;}
.marg0 { margin:0px; }
.logintxtbox {width:160px;}
.margt4 {margin-top:4px;}
.margt5tar {margin-top:5px;text-align:right;}
.margt3tal {margin-top:3px;text-align:left;}
.forgpasslnk {color:#e01d01; text-decoration:none;}
.loginmidfpass {margin-top:5px;padding:0px 15px 0px 15px; overflow:hidden; display:none;}
.loginmidfpassclose {margin:0px 5px 5px 0px;text-align:right;display:block;}
.namregfreelink { color:#FFF;margin-top:15px; }
.regfreespace { background-color:#FFF;color:#FF0000;margin-left:4px;padding:1px 5px;}