body { background: #fff; margin:0px; font-family: Arial, Helvetica, Tahoma; font-size: 12px; color:#5F5F5F; line-height:16px; text-decoration:none;text-align:left;}
ul,li {display:inline;padding:0;margin:0;list-style:none;white-space:nowrap;}
h1,h2,h3,h4,h5,h6,dl,dt,dd,p,form,fieldset,legend{margin:0;padding:0;}
#maincontainer {padding-left:3px;padding-right:3px;}
#container {width:772px;margin:0px 0px 0px 0px;text-align:left;}

.activelink { background:transparent url(http://img.muslimmatrimony.com/images/menubg_ovr.gif);height:29px;}
div.topmenucurleft {float:left;background-image: url(http://img.muslimmatrimony.com/images/top_lft_curve.gif); width:4px; height:29px;}
div.topmenucurright {float:left;background-image: url(http://img.muslimmatrimony.com/images/top_rht_curve.gif); width:4px; height:29px;}
div.divborder {border:1px solid #CCC;overflow:auto;}

#topmenu{position:relative;display:block;height:29px;font-size:16px;font-weight: bold;font-family:Arial,Verdana,Helvetica,sans-serif;width:764px;background:transparent url(http://img.muslimmatrimony.com/images/menubg.gif) repeat-x;}
#topmenu ul{margin:0px;padding:0;list-style-type:none;text-align:center;margin-left:20px;}
#topmenu ul li{display:block;float:left;margin:0 0px 0 0;}
#topmenu ul li a{display:block;float:left;color:#fff;text-decoration:none;padding:7px 19px 0 19px;height:22px;}
#topmenu ul li a:hover{color:#2c2c2c;background:transparent url(http://img.muslimmatrimony.com/images/menubg_ovr.gif) repeat-x;display:block;height:22px !important;height:29px;}
#topmenu ul li a:active{color:#2c2c2c;background:transparent url(http://img.muslimmatrimony.com/images/menubg_ovr.gif) repeat-x;display:block;height:22px !important;height:29px;}

.clr{color:#666666;}
.clr1{color:#FC4700;}
.clr2{color:#939393;}
.clr3{color:#339933;}
.clr5{color:#232323;}
.clr6{color:#84935C;}

div.fleft{float:left;}
div.fright{float:right;}

/* for featured profiles */
.address
{float: middle; font-size: 11px; color: #707070; line-height:13px;padding-top:11px;text-align:left;}
.imagepad
{float: left;padding:11px 5px 12px 6px;_padding:12px 3px 12px 6px;}
.fullimg
{background:transparent url(http://img.muslimmatrimony.com/images/hp-fp-bg.gif) repeat-x; width: 172px;_width:174px; height: 100px;}
.fltlft
{float: left;}
.imgsec
{background-color: #FFFFFF;width: 350px;_width:368px; height: 100px; float: left; padding:8px;padding-left:15px; }
/* for featured profiles */


a { color:#666666;text-decoration:none; outline:none;}
a{cursor:pointer;}
a:hover { text-decoration: underline;}

ul.inline, ul.inline li {list-style: none;display: inline;margin:0;padding: 0;}

.pntr{cursor:pointer;}
.biggertxt { font-size:18px;}
.bigtxt { font-size:16px;font-weight:bold;}
.smalltxt { font-size:11px;font-weight:normal;}
.smalltxt1 { font-size:9px;line-height:13px;}
.smalltxt2 { font-size:11px;font-weight:normal;line-height:15px;}
.inputtext {padding-left:2px;border:1px solid #ababab;font-family:arial, tahoma, verdana;font-size:11px;color:#666;font-weight:normal;}
.mediumtxt { font-size:12px;font-weight:normal;}
.boldtxt{font-weight:bold;}

div#rndcorner{ margin: 0 0%;background: #EEEEEE;z-index:1;}
b.rtop {display:block;background: #FFF}
b.rbottom{display:block;background: #fff}
b.rtop b, b.rbottom b{display:block;height: 1px; overflow: hidden; background: #EEEEEE}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}

.bl {background: url(http://img.muslimmatrimony.com/images/bl-1.gif) 0 100% no-repeat #FFFFFF;}
.br {background: url(http://img.muslimmatrimony.com/images/br-1.gif) 100% 100% no-repeat}
.tl {background: url(http://img.muslimmatrimony.com/images/tl-1.gif) 0 0 no-repeat}
.tr {background: url(http://img.muslimmatrimony.com/images/tr-1.gif) 100% 0 no-repeat; padding:0px}

div.vdotline1{background: url(images/vdot-line.gif) repeat-x;height:1px;margin-bottom:1px;}

.rigpanel {font-family: Georgia, Arial, Helvetica, Tahoma; color: #1F84AE;}

.button-padd {margin:5px;}
.button{ background: #FA4802 url(http://img.muslimmatrimony.com/images/button-bg.gif) no-repeat top left;padding: 1px 10px 1px 10px;border:none;color: #FFF; font: bold 11px arial, helvetica, sans-serif; overflow: visible; vertical-align: middle;}
.divbutton {float:left;background:#075C7C;padding-bottom:1px !important;padding:0px 1px 0px 0px;margin:0px;margin:0px;border:none;}

.bgfadediv{
	 display: none;
	 position: absolute;
	 top: 0;
	 left: 0;
	 background-color: #000;
	 z-index:1001;
	-moz-opacity: 0.55; 
	opacity:0.55;
	 filter: alpha(opacity=55);
	   }

 .frdispdiv{
	 display: none;
	 position: absolute;
	 margin: 0 auto; 
	 width: 90%;
	 padding: 10px;
	 border: 2px solid #cbcbcb;
	 background-color: white;
	 z-index:1002;
	}

#count h1 {font-family: Arial, Helvetica, Georgia, Times, serif;font-size: 45px;font-weight: normal;color: #1F86A9;}
#count h2 {font-family: Arial, Helvetica, Georgia, Times, serif;font-size: 20px;font-weight: normal;color: #70825A;}
#count h3 {font-family: Arial, Helvetica, Georgia, Times, serif;font-size: 20px;font-weight: bold;color: #70825A;margin:0px; padding:0px;}

.frm{ margin-top:2px; *margin-top:-2px;}
.frm li{ display:inline; white-space:nowrap; padding-left:4px;}
.frm li label{ margin:0 0 0 0px;}
.frm input{ margin:0 4px -3px 0; _margin:0 2px -2px 0;}
div.vdotline1{background: url(http://img.muslimmatrimony.com/images/vdot-line.gif) repeat-x;height:1px;margin-bottom:1px;}