Options +FollowSymlinks
RewriteEngine on

RewriteRule ^http-bind/ http://172.29.22.102:9090/plugins/multipledomainmessenger/mdinterface [P]
RewriteRule ^http-bind1/ http://192.168.1.19:7070/http-bind/ [P]

RewriteBase /

RewriteCond %{HTTP_HOST} ^([a-z0-9]+)matrimony\.com$
RewriteRule ^$ http://www.%1matrimony.com [NC,L]

RewriteCond %{HTTP_HOST} ^([a-z0-9]+)matrimony\.com$
RewriteRule ^$ http://www.%1matrimony.com [NC,L]


RewriteCond %{HTTP_HOST} ^www\.(.+)matrimony\.com$
RewriteRule ^$ /homepages/%1/index.html [NC,L]


RewriteRule ^member/([A-Za-z0-9_\-\.]+)/$ /profiledetail/index.php?act=viewprofile&id=$1&trackid=00510001004&type=internal&formfeed=y [NC,L]
RewriteRule ^member/([A-Za-z0-9_\-\.]+)$ /profiledetail/index.php?act=viewprofile&id=$1&trackid=00510001004&type=internal&formfeed=y [NC,L]

RewriteRule ^feeds/terms/$ /rsscomm/rss/index.php?act=terms [NC,L] 

RewriteRule ^feeds/(.+)/(.+)/(.+).rss/$ /rsscomm/rss/rsscreate.php?cat=$1&title=$2&gen=$3 [NC,L]
RewriteRule ^feeds/(.+)/(.+)/(.+).xml/$ /rsscomm/rss/rss-results.php?cat=$1&title=$2&gen=$3 [NC,L]

RewriteRule ^feeds/(.+)/(.+)/(.+).rss$ /rsscomm/rss/rsscreate.php?cat=$1&title=$2&gen=$3 [NC,L]
RewriteRule ^feeds/(.+)/(.+)/(.+).xml$ /rsscomm/rss/rss-results.php?cat=$1&title=$2&gen=$3 [NC,L]

RewriteRule ^feeds/(.+)/(.+).html$ /rsscomm/rss/rss-htmlresults.php?cat=$1&title=$2 [NC,L]
RewriteRule ^feeds/(.+).html$ /rsscomm/rss/rss-htmlresults.php?cat=$1 [NC,L]

RewriteRule ^feeds/(.+)/$ /rsscomm/rss/index.php?act=rss-search-results&cat=$1 [NC,L]
RewriteRule ^feeds/(.+)$ /rsscomm/rss/index.php?act=rss-search-results&cat=$1 [NC,L]

RewriteRule ^feeds/$ /rsscomm/rss/index.php [NC,L]
RewriteRule ^feeds$ /rsscomm/rss/index.php [NC,L]

RewriteRule ^matrimonials/(.+)/$ /matrimonial/index.php?act=community-search-results&cat=$1 [NC,L]
RewriteRule ^matrimonials/(.+)$ /matrimonial/index.php?act=community-search-results&cat=$1 [NC,L]

RewriteRule ^matrimonials/$ /matrimonial/index.php [NC,L]
RewriteRule ^matrimonials$ /matrimonial/index.php [NC,L]